.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 65px;
}
.post_header{
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
.post_avatar{
    margin-right: 10px;
}
.post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post_text{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-family: 'Raleway', sans-serif;
}
.post_comment{
    margin-left: 10px;
    
}
.post_commentBox{
    display: flex;
    /* margin-top: 10px; */
}
.post_commentInput{
    flex: 1;
    border: none;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
.post_commentbtn{
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
